<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portifólio - Home</title>
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/curriculo.css" />
    <script
      src="https://kit.fontawesome.com/0af87ce8f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="cabecalho">
      <nav class="cabecalho__navegacao">
        <ul class="cabecalho__lista">
          <li class="lista">
            <a href="index.html" class="lista__itens"
              ><i class="fa-solid fa-house"></i> Home</a
            >
          </li>
          <li class="lista">
            <a href="curriculo.html" class="lista__itens"
              ><i class="fa-solid fa-user"></i> Currículo</a
            >
          </li>
          <li class="lista">
            <a href="projetos.html" class="lista__itens"
              ><i class="fa-solid fa-mug-hot"></i> Projetos</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <div class="container__area">
        <div class="texto">
          <h1 class="texto__name">Pedro Sampaio</h1>
          <h2 class="texto__titulo">DESENVOLVEDOR WEB</h2>
          <p class="texto__paragrafo">
            Desenvolvedor web altamente qualificado, experiência em projetos de
            desenvolvimento de sites e aplicativos web. Conhecimento em
            JavaScript, HTML5, CSS3, REACT.JS, DJANGO E PYTHON.
          </p>
          <h2 class="texto__titulo">EDUCAÇÃO</h2>
          <h3 class="texto__titulo__secundario">UNIFE</h3>
          <p class="texto__paragrafo">
            Tecnólogo em Análise e Desenvolvimento de Sistemas | 2019- 2023
          </p>
          <h2 class="texto__titulo">LÍNGUAS</h2>
          <p class="texto__paragrafo">Português</p>
          <p class="texto__paragrafo">Inglês Básico</p>
          <a
            href="https://whatsa.me/5527996350021/?t=Oi%20Pedro,%20tudo%20bem%20?"
            target="_blank"
            rel="noopener noreferrer"
            class="texto__links"
            ><i class="fa-solid fa-phone"></i> +55 27 996350021</a
          >
          <a href="mailto:sampaioinvestimentosok@gmail.com" class="texto__links"
            ><i class="fa-solid fa-envelope"></i>
            sampaioinvestimentosok@gmail.com</a
          >
          <button id="baixar__pdf" class="baixar__pdf">Baixar PDF</button>
        </div>
        <div class="texto2">
          <h2 class="texto2__titulo">EXPERIÊNCIA</h2>
          <h3 class="texto2__titulo__secundario">
            Instrutor de Ensino E Aprendizagem Em Serviços
          </h3>
          <p class="texto2__paragrafo">UNICENTER TECNOLOGIA LTDA | 2021 - Now</p>
          <ul>
            <li class="texto2__lista__item">
              Interação com sistemas ERP Web e Desktop, atendimento ao cliente,
              presencial e via chat, realização de treinamento, implantações e
              suporte, conhecimento fiscal, emissão de notas, controle de
              estoque, e SPED.
            </li>
            <li class="texto2__lista__item">
              Ótimo trabalho em equipe, buscando resoluções de problemas e
              melhorias do sistema.
            </li>
            <li class="texto2__lista__item">
                Treinei e orientei membros mais jovens da equipe.
            </li>
          </ul>
          <p class="texto2__paragrafo">Freelancer - Desenvolvedor Web</p>
          <ul>
            <li class="texto2__lista__item">
                Desenvolvimento de projetos para auxilio em
                tarefas do dia e projetos para estudos.                
            </li>
            <li class="texto2__lista__item">
                Desenvolvimento de um sistema completo para
                a empresa gerenciar o financeiro, cadastro de
                instituições, pacientes, médicos, etc. Utilizando
                HTML5, CSS3, JAVASCRIPT E DJANGO.
            </li>
          </ul>
          <h2 class="texto2__titulo__2">HABILIDADES</h2>
          <p class="texto2__paragrafo">Linguagens de programação</p>
          <ul>
            <li class="texto2__lista__item">
                PYTHON               
            </li>
            <li class="texto2__lista__item">
                JAVASCRIPT
            </li>
          </ul>
          <p class="texto2__paragrafo">Soft Skill</p>
          <ul>
            <li class="texto2__lista__item">
                ADAPTABILIDADE               
            </li>
            <li class="texto2__lista__item">
                ATENÇÃO AOS DETALHES
            </li>
            <li class="texto2__lista__item">
                AUTODIDATISMO
            </li>
            <li class="texto2__lista__item">
                RESILIÊNCIA
            </li>
            <li class="texto2__lista__item">
                COMUNICAÇÃO EFICAZ
            </li>
            <li class="texto2__lista__item">
                TRABALHO EM EQUIPE
            </li>
            <li class="texto2__lista__item">
                GESTÃO DE TEMPO
            </li>
          </ul>
        </div>
      </div>
    </main>

    <footer class="rodape">
      <p id="copyright">Todos os direitos reservados &copy; 2021</p>
      <div class="contato">
        <ul class="contato">
          <li class="contato__lista">
            <a href="index.html" class="contato__lista__item">Sobre</a>
          </li>
          <li class="contato__lista">
            <a
              href="https://whatsa.me/5527996350021/?t=Oi%20Pedro,%20tudo%20bem%20?"
              target="_blank"
              rel="noopener noreferrer"
              class="contato__lista__item"
              >Contato</a
            >
          </li>
        </ul>
      </div>
      <div class="socialmedia">
        <a href="#" class="socialmedia__item"
          ><i class="fa-brands fa-tiktok"></i> TikTok</a
        >
        <a href="#" class="socialmedia__item"
          ><i class="fa-brands fa-instagram"></i> Instagram</a
        >
        <a href="#" class="socialmedia__item"
          ><i class="fa-brands fa-linkedin-in"></i> Linkedin</a
        >
      </div>
    </footer>
    <script>
      // Função para atualizar o ano no rodapé
      function atualizarAno() {
        const anoAtual = new Date().getFullYear(); // Obtém o ano atual
        const copyrightElemento = document.getElementById("copyright"); // Seleciona o elemento de copyright
        copyrightElemento.innerHTML = `Todos os direitos reservados &copy; ${anoAtual}`; // Atualiza o conteúdo do elemento
      }

      // Chama a função para atualizar o ano quando a página carregar
      document.addEventListener("DOMContentLoaded", atualizarAno);

      // Função para abrir o PDF em uma nova guia
      function abrirPDF() {
        window.open('/file/PEDRO GUILHERME (2).pdf', '_blank');
      }

      // Adiciona o event listener para a div baixar__pdf
      document.getElementById('baixar__pdf').addEventListener('click', abrirPDF);
    </script>
  </body>
</html>
